<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Añadir Productos</title>
</head>
<body>
	<div th:replace="/header :: header"></div>
 
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6">
			<th:block th:fragment="form">
				<form th:action="@{|/addProducto|}"
					th:object="${producto}" method="post">
					<div class="form-group">
						<label class="control-label" th:for="cantidad">Cantidad</label> <input
							class="form-control" th:field="*{cantidad}" type="number" step="1" min="0" />
					</div>
					<div class="form-group">
						<label class="control-label" th:for="nombre">Nombre</label> <input
							class="form-control" th:field="*{nombre}" type="text" />
					</div>
					<div class="form-group">
						<label class="control-label" th:for="descripcion">Descripcion</label>
						<input class="form-control" th:field="*{descripcion}" type="text" />
					</div>
					<div class="form-group">
						<label class="control-label" th:for="marca">Marca</label> <input
							class="form-control" th:field="*{marca}" type="text" />
					</div>
					<div class="form-group">
						<label class="control-label" th:for="precio">Precio</label> <input
							class="form-control" th:field="*{precio}" type="text" />
					</div>
					<div class="form-group submit-cancel">
						<input class="btn btn-primary" type="submit" value="Guardar" /> <a
							class="btn btn-default btn-cancel" th:href="@{/products}">Guardar</a>
					</div>
				</form>
			</th:block>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
