<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Productos</title>
</head>
<body>

	<div th:replace="/header :: header"></div>
	<br>
	<br>

	<div class="container">
		<div class="container" style="margin-top: 10rem">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: #5c6066">
					<h1 class="text-left">Filtrar productos por:</h1>
				</div>
				<div class="panel-body">
					<div class="container-fluid d-flex justify-content-center">
						<div class="container">
							<form action="#" th:action="@{/products}" method="post">
								<div class="form-group">
									<div class="container-fluid d-flex justify-content-center">
										<input id="nombre" type="text" name="nombre"
											th:placeholder="Nombre" class="col-8 mx-5" /> <input
											id="descripcion" type="text" name="descripcion"
											th:placeholder="Descripcion" class="col-8 mx-5" /> <input
											id="precio" type="text" name="precio" th:placeholder="Precio"
											class="col-8 mx-5" /> <input id="submit" type="submit"
											value="Filtrar" class="col-2" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="container" style="margin-top: 10rem">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: #5c6066">
					<h1 class="text-left">Lista de productos disponibles en
						tienda:</h1>
				</div>
				<div class="panel-body">
					<div class="container-fluid d-flex justify-content-center">
						<table class="table table-striped" id="listaProductos">
							<thead>
								<tr>
									<th>Nombre:</th>
									<th>Descripcion:</th>
									<th>Precio:</th>
									<th>Opciones</th>
									<th>Añadir productos</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="producto : ${listaProductos}"
									th:id="|producto_${producto.idProducto}|">

									<td scope="row"><span id="nombre" data-type="text"
										data-title="Nombre"
										th:attr="data-url=@{/producto}, data-pk=${producto.idProducto}, data-value=${producto.nombre}"
										class="inline-editable" th:text="${producto.nombre}">Nombre
											del producto</span></td>

									<td class="text-left"><span id="descripcion"
										data-type="text" data-title="Descripcion"
										th:attr="data-url=@{/producto}, data-pk=${producto.idProducto}, data-value=${producto.descripcion}"
										class="inline-editable" th:text="${producto.descripcion}">Descripcion
											del producto</span></td>

									<td class="text-left"><span id="precio"
										data-type="number" data-title="Precio"
										th:attr="data-url=@{/producto}, data-pk=${producto.idProducto}, data-value=${producto.precio}"
										class="inline-editable" th:text="${producto.precio} + €">Precio
											del producto</span></td>
									<td class="text-left"><input id="submit" type="submit"
										value="Carrito" /></td>
									<td class="text-left"><a href="/addProducto"><input id="submit"
											type="submit" value="Añadir producto" /></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


	</div>

	<br>
	<br>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
