<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Tramitar pedido</title>
</head>
<body>
	<div th:replace="/header :: header"></div>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="panel-body">
		<form th:action="@{|/addProducto|}"
					th:object="${pedido}" method="post">
					<div class="form-group">
						<label class="control-label" th:for="cantidad">Precio final</label> <input
							class="form-control" th:field="*{precioFinal}" type="text" />
					</div>
					<div class="form-group">
						<label class="control-label" th:for="cantidad">Direccion</label> <input
							class="form-control" th:field="*{direccion}" type="text" />
					</div>
					<div class="form-group">
						<label class="control-label" th:for="cantidad">Comentario</label> <input
							class="form-control" th:field="*{comentario}" type="text" />
					</div>
<!-- 					<div class="form-group"> -->
<!-- 						<label class="control-label" th:for="usuario">Usuario</label> <input -->
<!-- 							class="form-control" th:field="*{usuario.nombre}" type="text" /> -->
<!-- 					</div> -->
					
					
		</form>
<!-- 	Precio final del pedido: <span th:text="${pedido.precioFinal}"></span> -->
<!-- 	<span sec:authentication="principal.direccion">direccion</span> -->
	
		<div class="container-fluid d-flex justify-content-center">
			<table class="table table-striped" id="listaProductos">
				<thead>
					<th>Dirección</th>
					<th>Usuario</th>
					<th>Cantidad total:</th>
					<tr>
						<th>Nombre:</th>
						<th>Precio</th>
						<th>Unidades:</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="carrito : ${listaCarrito}">
						<tr>
							<td th:text="${carrito.producto.nombre}"></td>
							<td th:text="${carrito.cantidad}"></td>
						</tr>
<!-- 						<tr> -->
<!-- 							<td th:text="${carrito.producto.cantidadTotal}"></td> -->
<!-- 						</tr> -->
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<br>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>